---
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { getAllPortfolios, getAllPosts, sortMDByDate } from "@/utils";
import PortfolioPreview from "@/components/blog/PortfolioPreview";
import type { CollectionEntry } from "astro:content";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPortfolios = await getAllPortfolios();
const totalPosts = allPosts.length;
const totalPortfolios = allPortfolios.length;
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS) as CollectionEntry<"post">[];
const allPortfoliosByDate = sortMDByDate(allPortfolios).slice(
	0,
	3
) as CollectionEntry<"portfolio">[];
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<div class="title mb-4 flex items-end">
			<p class="mr-3 hidden md:block">Hi, my name is</p>
			<h1 class="text-teal-500">Abdul Ghofur</h1>
		</div>
		<p class="mb-4">An ordinary man who loves to sleep, code & run.</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<div class="mb-4 flex items-center justify-between gap-2">
			<h2 class="title text-xl"><a href="/posts/">Posts</a></h2>
			<a class="text-sm" href="/posts/">Lihat semua ({totalPosts}) →</a>
		</div>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>

	<section aria-label="Blog post list" class="mt-16">
		<div class="mb-4 flex items-center justify-between gap-2">
			<h2 class="title text-xl"><a href="/Portfolios/">Portfolios</a></h2>
			<a class="text-sm" href="/portfolios/">Lihat semua ({totalPortfolios}) →</a>
		</div>
		<div aria-label="Blog post list" class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3">
			{
				allPortfoliosByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PortfolioPreview portfolio={p} />
					</li>
				))
			}
		</div>
	</section>
</PageLayout>
