---
import type { CollectionEntry } from "astro:content";
import ExplorePreview from "./ExplorePreview.astro";

type Props = {
	explores: CollectionEntry<"explore">[];
};

const { explores } = Astro.props;
---

<div aria-label="Blog explore list" class="grid grid-cols-1 gap-4 sm:grid-cols-2">
	{
		explores.map((e) => (
			<li class="flex w-full flex-col gap-x-2 sm:flex-row">
				<ExplorePreview explore={e} />
			</li>
		))
	}
</div>
