---
import type { HTMLTag, Polymorphic } from "astro/types";

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
	techs: string[];
	class?: string;
};
const { techs, as: Tag = "a", class: className = "" } = Astro.props;
---

<div class={`flex flex-wrap items-center gap-2 ${className}`}>
	{
		techs.map((tech: string) => (
			<Tag
				class="inline-block rounded-lg bg-accent-2/10 p-1 text-accent-2 before:content-['#']"
				aria-label={`View more explores with the tech: ${tech}`}
				data-pagefind-filter="tag"
				{...(Tag === "a" ? { href: `/explore/techs/${tech}/` } : {})}
			>
				{tech}
			</Tag>
		))
	}
</div>
