---
import PageLayout from "@/layouts/Base";
import TechsAside from "@/components/TechsAside";
import { getAllExplores, getUniqueTechs } from "@/utils";
import ExploreList from "@/components/explore/ExploreList";

const allExplores = await getAllExplores();
const uniqueTechs = getUniqueTechs(allExplores);

const meta = {
	title: "All Explore",
	description: "A list of explores that I've created & documented",
};
---

<PageLayout meta={meta}>
	<div class="mb-6 flex items-center gap-2">
		<h1 class="title">Explore</h1>
		<span class="text-sm">({allExplores.length})</span>
	</div>
	<div class="grid gap-y-16 sm:grid-cols-[3fr_1fr] sm:gap-x-8">
		<ExploreList explores={allExplores} />
		<TechsAside uniqueTechs={uniqueTechs} seeMoreURL="/explore/techs" />
	</div>
</PageLayout>
