---
import PageLayout from "@/layouts/Base";
import TagsAside from "@/components/TagsAside";
import { getAllPortfolios, getUniqueTags } from "@/utils";
import PortfolioPreview from "@/components/blog/PortfolioPreview";

const allPortfolios = await getAllPortfolios();
const uniqueTags = getUniqueTags(allPortfolios);

const meta = {
	title: "All Portfolios",
	description: "A list of portfolios that I've created & documented",
};
---

<PageLayout meta={meta}>
	<div class="mb-6 flex items-center gap-2">
		<h1 class="title">Portfolios</h1>
		<span class="text-sm">({allPortfolios.length})</span>
	</div>
	<div class="grid gap-y-16 sm:grid-cols-[3fr_1fr] sm:gap-x-8">
		<section
			aria-label="Blog post list"
			class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3"
		>
			{allPortfolios.map((portfolio) => <PortfolioPreview portfolio={portfolio} />)}
		</section>
		<TagsAside uniqueTags={uniqueTags} seeMoreURL="/portfolios/tags" />
	</div>
</PageLayout>
